.example-icon {
    padding: 0 14px;
}
  
.example-spacer {
    flex-grow: 1;
}

.patientInfoTitle {
    font-weight: 200;
    font-size: 11px;
}
.patientInfoValue {
    font-size: 11px;
}

.mat-toolbar-row-space {
    justify-content: space-around;
    align-items: center;
}

.mat-toolbar-row-centered {
    justify-content: center;
    align-items: center;
}

.small-toolbar {
    max-height: 30px;
    min-height: 30px !important;
    overflow: hidden;
}

.small-toolbar-row {
    max-height: 30px;
    min-height: 30px !important;
    background: #4DB6AC !important;
    overflow: hidden;
}

.edge-container-end {
    display:flex;
    flex-grow: 1;
    flex-basis: 0%;
    justify-content: flex-end;
}

.edge-container-start {
    display:flex;
    flex-grow: 1;
    flex-basis: 0%;
    justify-content: flex-start;
}

.backButtonLabel {
    line-height: 40px !important;
}