.container {
    height: 100%;
    margin-top: 10px;
    padding: 0px 24px;
}

.overflow-style {
    height: calc(100% - 56px) !important;
    overflow-y: auto;
}

.row {
    display: flex;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
}

.cell {
    display: flex;
    justify-content: center;
    flex-grow: 1;
    min-width: 150px;
    padding: 0px 5px;
    flex-basis: 0;
    align-items: center;
}

.label-cell {
    flex-grow: 1;
    max-width: 150px;
}
.cell-form {
    width: 100%;
}

.tel-cell-form {
    max-width: 75px !important;
    min-width: 75px !important;
    flex-basis: 0 !important;
}

.button-cell {
    justify-content: flex-end !important;
}

.expansion-row {
    display:flex; 
    flex-wrap:wrap;
    align-items:center;
    justify-content:space-around;
}

.expansion-cell-label {
    padding:0px 16px;
}

.sdl-input {
    flex-grow:1;
}

.row-label {
    padding-bottom:5px;
}

.right-justify {
    justify-content: flex-end !important;
}

.left-justify {
    justify-content: flex-start !important;
}

.label-padding {
    padding-right: 5px
}

.no-right-padding {
    padding-right: 0px !important;
}

.no-left-padding {
    padding-left: 0px !important;
}

.width-full {
    width: 100%;
}

.md-cell {
    width: 50%;
}

.vertical-padding {
    padding: 10px 0px
}

.vertical-buttons {
    display: inline-flex;
    flex-direction: column;
}

.radio-vertical-padding {
    padding: 5px 0px;
}

.radio-horizontal-padding {
    padding: 0px 5px;
}

.row-vertical-padding { 
    padding: 10px 0px;
}

.label {
    color: rgba(0, 0, 0, 0.54);
    font-size: 16px;
}

.sm-datepicker { 
    width: 180px !important;
}

.center-column-value {
    display:flex;
    justify-content: center;
}