<h3 mat-subheader>Clinical Notes</h3>
<div class="example-container mat-elevation-z8">

  <mat-table #table [dataSource]="notesDataSource">
      
      <ng-container matColumnDef="date">
        <mat-header-cell *matHeaderCellDef> DATE </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.createdOn}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="subject">
        <mat-header-cell *matHeaderCellDef> SUBJECT </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.subject}} </mat-cell>
      </ng-container>
      
      <ng-container matColumnDef="note">
        <mat-header-cell *matHeaderCellDef> NOTE </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.note}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="modalAction">
        <mat-header-cell *matHeaderCellDef></mat-header-cell>
        <mat-cell *matCellDef="let element">
          <button mat-icon-button>
            <mat-icon aria-label="See Details">navigate_next</mat-icon>
          </button>
        </mat-cell>
      </ng-container>
  
    <mat-header-row *matHeaderRowDef="notesDisplayedRows"></mat-header-row>
    <mat-row *matRowDef="let row; columns: notesDisplayedRows;"></mat-row>
  </mat-table>
</div>

<h3 mat-subheader>Communication Log</h3>
<div class="example-container mat-elevation-z8">

  <mat-table #table [dataSource]="celsDataSource">
      
      <ng-container matColumnDef="date">
        <mat-header-cell *matHeaderCellDef> DATE </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.createdOn}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="direction">
        <mat-header-cell *matHeaderCellDef> DIRECTION </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.direction}} </mat-cell>
      </ng-container>
      
      <ng-container matColumnDef="topic">
        <mat-header-cell *matHeaderCellDef> TOPIC </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.topic}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="comments">
        <mat-header-cell *matHeaderCellDef> COMMENTS </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.comments}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="modalAction">
        <mat-header-cell *matHeaderCellDef></mat-header-cell>
        <mat-cell *matCellDef="let element">
          <button mat-icon-button>
            <mat-icon aria-label="See Details">navigate_next</mat-icon>
          </button>
        </mat-cell>
      </ng-container>
  
    <mat-header-row *matHeaderRowDef="celsDisplayedRows"></mat-header-row>
    <mat-row *matRowDef="let row; columns: celsDisplayedRows;"></mat-row>
  </mat-table>
</div>
