<div class="container overflow-style">

  <div class="row">

    <div class="cell">
      <mat-form-field class="cell-form">
          <input matInput placeholder="Title">
      </mat-form-field>
    </div>

  </div>

  <div class="row">

    <div class="cell">
      <mat-form-field class="cell-form">
        <mat-select placeholder="Topic">
            <mat-option value=""></mat-option>
            <mat-option value="Contract Management">Contract Management</mat-option>        
            <mat-option value="Immunization">Immunization Status</mat-option>    
        </mat-select>
      </mat-form-field>
    </div>

  </div>

  <div class="row">

    <div class="cell">
      <mat-form-field class="cell-form">
        <mat-select placeholder="Type">
            <mat-option value=""></mat-option>
            <mat-option value="Electronic Data">Electronic Data</mat-option>        
            <mat-option value="Email">Email</mat-option>    
        </mat-select>
      </mat-form-field>
    </div>

  </div>

  <div class="row">

    <div class="cell">
      <mat-form-field class="cell-form">
        <mat-select placeholder="Outcome">
            <mat-option value=""></mat-option>
            <mat-option value="Assigned Task for Follow Up">Assigned Task for Follow Up</mat-option>        
            <mat-option value="Client Appointment">Client Appointment</mat-option>    
        </mat-select>
      </mat-form-field>
    </div>

  </div>

  <div class="row">

    <div class="cell">
      <mat-form-field class="cell-form">
        <mat-select placeholder="Direction">
            <mat-option value=""></mat-option>
            <mat-option value="Inbound">Inbound</mat-option>        
            <mat-option value="Outbound">Outbound</mat-option>    
        </mat-select>
      </mat-form-field>
    </div>

  </div>


  <div class="row">

    <div class="cell">
      <mat-form-field class="cell-form">
        <textarea matInput matTextareaAutosize placeholder="Enter Comment"></textarea>
      </mat-form-field>
    </div>

  </div>
</div>