<mat-toolbar color="primary">

  <mat-toolbar-row class="toolbar-padding">
    <div class="toolbar-button">
        <button mat-icon-button (click)="onCloseClick()">
            <mat-icon aria-label="Close Popover">close</mat-icon>
        </button>
    </div>
    
    <div class="toolbar-title">
      <span>Add Client</span>
    </div>

    <div class="toolbar-spacer"></div>
  </mat-toolbar-row>
    
</mat-toolbar>


<mat-tab-group class="tab-group">

    <mat-tab label="Search Existing" >
        <app-search-patient></app-search-patient>
    </mat-tab>

    <mat-tab label="Create New">
        <app-create-patient></app-create-patient>
    </mat-tab>

</mat-tab-group>

