<div class="container overflow-style">

  <div class="row">

    <div class="cell">
      <mat-form-field class="cell-form">
          <input matInput placeholder="Immunizing Agent" [value]="agentVal">
      </mat-form-field>
    </div>

  </div>

  <div class="row">

    <div class="cell">
      <mat-form-field class="cell-form">
        <mat-select placeholder="Lot Number" [value]="lotVal">
            <mat-option value=""></mat-option>
            <mat-option value="M036461">M036461 2019 Mar 14</mat-option>        
            <mat-option value="N-M036460">N-M036460 2019 Mar 14</mat-option>    
        </mat-select>
      </mat-form-field>
    </div>

  </div>

  <div class="row">

    <div class="cell">
      <mat-form-field class="cell-form">
          <input matInput placeholder="Trade Name" disabled="true" [value]="tradeVal">
      </mat-form-field>
    </div>

  </div>

  <div class="row">

    <div class="cell">
      <mat-form-field class="cell-form">
          <input matInput placeholder="Manufacturer"  disabled="true" [value]="manufacturerVal">
      </mat-form-field>
    </div>

  </div>

  <div class="row">

    <div class="cell">
      <mat-form-field class="cell-form">
        <mat-select placeholder="Route" [value]="routeVal">
            <mat-option value=""></mat-option>
            <mat-option value="Intradermal: ID">Intradermal: ID</mat-option>        
            <mat-option value="Intramuscular: IM">Intramuscular: IM</mat-option>    
        </mat-select>
      </mat-form-field>
    </div>

  </div>

  <div class="row">

    <div class="cell">
      <mat-form-field class="cell-form">
        <mat-select placeholder="Reason" [value]="reasonVal">
            <mat-option value=""></mat-option>
            <mat-option value="Contact Management">Contact Management</mat-option>        
            <mat-option value="High Risk">High Risk</mat-option>    
        </mat-select>
      </mat-form-field>
    </div>

  </div>
  
</div>
  