<div class="container">

  <div class="row">
    <div class="cell">
      <mat-form-field class="cell-form">
        <input matInput placeholder="First Name">
      </mat-form-field>
    </div>

    <div class="cell">
      <mat-form-field class="cell-form">
        <input matInput [matDatepicker]="birthDate" placeholder="Date of Birth" disabled>
        <mat-datepicker-toggle matSuffix [for]="birthDate"></mat-datepicker-toggle>
        <mat-datepicker #birthDate disabled="false"></mat-datepicker>
      </mat-form-field>
    </div>
  </div>

  <div class="row">
    <div class="cell">
      <mat-form-field class="cell-form">
        <input matInput placeholder="Middle Name">
      </mat-form-field>
    </div>

    <div class="cell">
      <mat-form-field class="cell-form">
        <mat-select placeholder="Gender">
            <mat-option value=""></mat-option>
            <mat-option value="male">Male</mat-option>        
            <mat-option value="female">Female</mat-option>    
        </mat-select>
      </mat-form-field>
    </div>
  </div>

  <div class="row">
    <div class="cell">
      <mat-form-field class="cell-form">
        <input matInput placeholder="Last Name">
      </mat-form-field>
    </div>

    <div class="cell">
      <mat-form-field class="cell-form">
        <input matInput placeholder="Health Card Number (HCN)">
      </mat-form-field>
    </div>
  </div>

  <div class="row">
    <div class="cell">
      <mat-form-field class="cell-form">
        <input matInput placeholder="Panorama ID">
      </mat-form-field>
    </div>

    <div class="cell">
    </div>
  </div>
  
  <mat-expansion-panel>

    <mat-expansion-panel-header>
      <mat-panel-title> 
        Advanced
      </mat-panel-title>
      <mat-panel-description>
        Advanced search criteria.
      </mat-panel-description>
    </mat-expansion-panel-header>

    <span class="row-label">SDL</span>
    <div class="expansion-row">
      <div class="cell"> 
        <mat-form-field class="sdl-input">
          <input matInput placeholder="Service Delivery Location">
        </mat-form-field>
      </div>
      
      <button mat-button color="accent">Clear</button>
    </div>

    <span class="row-label">DoB Range</span>
    <div class="expansion-row">
      <div class="cell">
        <mat-form-field class="cell-form">
          <mat-select placeholder="Range Type" value="0">
            <mat-option value="0">Date to Date</mat-option>
            <mat-option value="1">Age to Age</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="cell">
        <mat-form-field class="cell-form">
          <input matInput [matDatepicker]="startRange" placeholder="Date Start" disabled>
          <mat-datepicker-toggle matSuffix [for]="startRange"></mat-datepicker-toggle>
          <mat-datepicker #startRange disabled="false"></mat-datepicker>
        </mat-form-field>
      </div>
      
      <div class="cell">
        <mat-form-field class="cell-form">
          <input matInput [matDatepicker]="endRange" placeholder="Date End" disabled>
          <mat-datepicker-toggle matSuffix [for]="endRange"></mat-datepicker-toggle>
          <mat-datepicker #endRange disabled="false"></mat-datepicker>
        </mat-form-field>
      </div>
      <button mat-button color="accent">Clear</button>
    </div>
    

    

  </mat-expansion-panel>
  
  <div class="row right-justify search-actions">
      <button mat-button color="accent">Copy to Create New</button>
      <button mat-button color="primary">Search</button>
  </div>
  <mat-table #table [dataSource]="dataSource" class="tablePadding">

    <!-- Checkbox Column -->
    <ng-container matColumnDef="select">
      <mat-header-cell *matHeaderCellDef>
        <mat-checkbox (change)="$event ? masterToggle() : null"
                      [checked]="selection.hasValue() && isAllSelected()"
                      [indeterminate]="selection.hasValue() && !isAllSelected()">
        </mat-checkbox>
      </mat-header-cell>
      <mat-cell *matCellDef="let row">
        <mat-checkbox (click)="$event.stopPropagation()"
                      (change)="$event ? selection.toggle(row) : null"
                      [checked]="selection.isSelected(row)">
        </mat-checkbox>
      </mat-cell>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef> NAME </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="dateOfBirth">
      <mat-header-cell *matHeaderCellDef> DATE OF BIRTH </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.dateOfBirth}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="gender">
      <mat-header-cell *matHeaderCellDef> GENDER </mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.gender}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="hcn">
      <mat-header-cell *matHeaderCellDef> HCN </mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.hcn}}</mat-cell>
    </ng-container>
    
    <ng-container matColumnDef="detailButton">
        <mat-header-cell *matHeaderCellDef></mat-header-cell>
        <mat-cell *matCellDef="let element">
          <button mat-button color="primary">Details</button>
        </mat-cell>
    </ng-container>
  
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
</div>