  .granted {
      color: green;
  }
  
  .refused {
      color: red;
  }

  .dateTimeLabelContainer {
      display: flex;
      align-items: center;
  }
  
  .dateTimeLabels {
    padding: 0px 5px;
  }