<div class="container">

  <div class="row">

    <div class="cell">
      <mat-form-field class="cell-form">
        <input matInput placeholder="First Name">
      </mat-form-field>
    </div>

    <div class="cell">
      <mat-form-field class="cell-form">
        <input matInput [matDatepicker]="birthDate" placeholder="Date of Birth" disabled>
        <mat-datepicker-toggle matSuffix [for]="birthDate"></mat-datepicker-toggle>
        <mat-datepicker #birthDate disabled="false"></mat-datepicker>
      </mat-form-field>
    </div>

  </div>

  <div class="row">

    <div class="cell">
      <mat-form-field class="cell-form">
        <input matInput placeholder="Middle Name">
      </mat-form-field>
    </div>

    <div class="cell">
      <mat-form-field class="cell-form">
        <mat-select placeholder="Gender">
            <mat-option value=""></mat-option>
            <mat-option value="male">Male</mat-option>        
            <mat-option value="female">Female</mat-option>    
        </mat-select>
      </mat-form-field>
    </div>

  </div>

  <div class="row">

    <div class="cell">
      <mat-form-field class="cell-form">
        <input matInput placeholder="Last Name">
      </mat-form-field>
    </div>

    <div class="cell">
      <mat-form-field class="cell-form">
        <input matInput placeholder="Health Card Number (HCN)">
      </mat-form-field>
    </div>

  </div>

  <div class="row">

    <div class="cell left-justify">
      <div class="cell street-number-cell no-left-padding">
        <mat-form-field class="cell-form">
          <input matInput placeholder="Street No.">
        </mat-form-field>
      </div>
      <div class="cell no-right-padding">
        <mat-form-field class="cell-form">
          <input matInput placeholder="Street Name">
        </mat-form-field>
      </div>
    </div>

    <div class="cell">
      <mat-form-field class="cell-form">
        <input matInput placeholder="Guardian First Name">
      </mat-form-field>
    </div>

  </div>

  <div class="row">

    <div class="cell">
      <div class="cell no-left-padding">
        <mat-form-field class="cell-form">
          <input matInput placeholder="Street Type">
        </mat-form-field>
      </div>

      <div class="cell no-right-padding">
        <mat-form-field class="cell-form">
          <mat-select placeholder="Direction">
              <mat-option value=""></mat-option>
              <mat-option value="East">East</mat-option>        
              <mat-option value="North">North</mat-option> 
              <mat-option value="North East">North East</mat-option>        
              <mat-option value="North West">North West</mat-option>
              <mat-option value="South">South</mat-option>        
              <mat-option value="South East">South East</mat-option>
              <mat-option value="South West">South West</mat-option>        
              <mat-option value="West">West</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>

    <div class="cell">
      <mat-form-field class="cell-form">
        <input matInput placeholder="Guardian Last Name">
      </mat-form-field>
    </div>

  </div>

  <div class="row">

      <div class="cell">
        <mat-form-field class="cell-form">
          <input matInput placeholder="City">
        </mat-form-field>
      </div>
  
      <div class="cell">
        <mat-form-field class="cell-form">
          <mat-select placeholder="Guardian Relationship">
              <mat-option value=""></mat-option>
              <mat-option value="Mother">Mother</mat-option>        
              <mat-option value="Father">Father</mat-option> 
              <mat-option value="Child">Child</mat-option>        
          </mat-select>
        </mat-form-field>
      </div>

    </div>

    <div class="row">

      <div class="cell">
        <div class="cell no-left-padding">
          <mat-form-field class="cell-form">
            <input matInput placeholder="Province">
          </mat-form-field>
        </div>
        
        <div class="cell no-right-padding">
          <mat-form-field class="cell-form">
            <input matInput placeholder="Postal Code">
          </mat-form-field>
        </div>
      </div>
  
      <div class="cell left-justify">
        <span class="label-padding">Guardian Tel.</span>
        <div class="cell tel-cell">
          <mat-form-field class="cell-form">
            <input matInput placeholder="###">
          </mat-form-field>
        </div>

        <div class="cell tel-cell">
          <mat-form-field class="cell-form">
            <input matInput placeholder="###">
          </mat-form-field>
        </div>

        <div class="cell tel-cell">
          <mat-form-field class="cell-form">
            <input matInput placeholder="#####">
          </mat-form-field>
        </div>

        <div class="cell tel-cell">
          <mat-form-field class="cell-form">
            <input matInput placeholder="Ext">
          </mat-form-field>
        </div>
      </div>

    </div>

    <div class="row">
      
      <div class="cell vertical-padding ">
        <mat-expansion-panel class="width-full">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Additional Address Info
            </mat-panel-title>
            <mat-panel-description>
              Unit No., P.O. Box, STN, RPO, Rural Route
            </mat-panel-description>
          </mat-expansion-panel-header>

          <div class="expansion-row">
            <div class="cell"> 
              <mat-form-field class="cell-form">
                <input matInput placeholder="Unit No.">
              </mat-form-field>
            </div>
            
            <div class="cell"> 
              <mat-form-field class="cell-form">
                <input matInput placeholder="P.O. Box">
              </mat-form-field>
            </div>

            <div class="cell"> 
              <mat-form-field class="cell-form">
                <input matInput placeholder="STN">
              </mat-form-field>
            </div>
          </div>

          <div class="expansion-row">
            <div class="cell"> 
              <mat-form-field class="cell-form">
                <input matInput placeholder="RPO">
              </mat-form-field>
            </div>
            
            <div class="cell"> 
              <mat-form-field class="cell-form">
                <input matInput placeholder="Rural Route">
              </mat-form-field>
            </div>
          </div>
          
        </mat-expansion-panel>
        
      </div>

      <div class="cell right-justify">
          <button mat-button color="accent">Clear All</button>
      </div>

    </div>

    <div class="row">

      <div class="cell">
        <mat-form-field class="cell-form">
          <mat-select placeholder="Address Type">
              <mat-option value=""></mat-option>
              <mat-option value="Home">Home</mat-option>        
              <mat-option value="Temp">Temp</mat-option> 
              <mat-option value="Work">Work</mat-option>        
          </mat-select>
        </mat-form-field>
      </div>
      <div class="cell">
      </div>

    </div>
    
    <div class="row">

      <div class="cell left-justify">
        <span class="label-padding">Phone No. 1</span>
        <div class="cell tel-cell">
          <mat-form-field class="cell-form">
            <input matInput placeholder="###">
          </mat-form-field>
        </div>

        <div class="cell tel-cell">
          <mat-form-field class="cell-form">
            <input matInput placeholder="###">
          </mat-form-field>
        </div>

        <div class="cell tel-cell">
          <mat-form-field class="cell-form">
            <input matInput placeholder="#####">
          </mat-form-field>
        </div>

        <div class="cell tel-cell">
          <mat-form-field class="cell-form">
            <input matInput placeholder="Ext">
          </mat-form-field>
        </div>
      </div>
      
    </div>

    <div class="row">

      <div class="cell">
        <mat-form-field class="cell-form">
          <mat-select placeholder="Phone No. 1 Type">
              <mat-option value=""></mat-option>
              <mat-option value="Home">Home</mat-option>        
              <mat-option value="Mobile">Mobile</mat-option> 
              <mat-option value="Work">Work</mat-option>        
          </mat-select>
        </mat-form-field>
      </div>

      <div class="cell">
      </div>
      
    </div>

    <div class="row">

      <div class="cell left-justify">
        <span class="label-padding">Phone No. 2</span>
        <div class="cell tel-cell">
          <mat-form-field class="cell-form">
            <input matInput placeholder="###">
          </mat-form-field>
        </div>

        <div class="cell tel-cell">
          <mat-form-field class="cell-form">
            <input matInput placeholder="###">
          </mat-form-field>
        </div>

        <div class="cell tel-cell">
          <mat-form-field class="cell-form">
            <input matInput placeholder="#####">
          </mat-form-field>
        </div>

        <div class="cell tel-cell">
          <mat-form-field class="cell-form">
            <input matInput placeholder="Ext">
          </mat-form-field>
        </div>
      </div>
      
    </div>

    <div class="row">

      <div class="cell">
        <mat-form-field class="cell-form">
          <mat-select placeholder="Phone No. 2 Type">
              <mat-option value=""></mat-option>
              <mat-option value="Home">Home</mat-option>        
              <mat-option value="Mobile">Mobile</mat-option> 
              <mat-option value="Work">Work</mat-option>        
          </mat-select>
        </mat-form-field>
      </div>

      <div class="cell">
      </div>
      
    </div>
      
    

</div>
