<mat-toolbar color="primary">

  <mat-toolbar-row class="toolbar-padding">
    <div class="toolbar-button">
        <button mat-icon-button (click)="onCloseClick()">
            <mat-icon aria-label="Close Popover">close</mat-icon>
        </button>
    </div>
    
    <div class="toolbar-title">
      <span>Information</span>
    </div>

    <div class="toolbar-spacer"></div>
  </mat-toolbar-row>
    
</mat-toolbar>

<div class="dialog-content">
    <h3 class="primary">User</h3>
    <hr />

    <mat-list>

      <mat-list-item>
        <div class="item-container">
          <span class="label">Name</span>
          <div class="item-value">
              <span class='bolded'>{{userService.getFamilyName()}}</span><span>, {{userService.getGivenName()}}</span>
          </div>
        </div>
      </mat-list-item>

      <mat-list-item>
        <div class="item-container">
          <span class="label">PHU</span>
          <div class="item-value">
            <span>{{userService.getPHU()}}</span>
          </div>
        </div>
      </mat-list-item>

      <mat-list-item>
        <div class="item-container">
          <span class="label">Hybrid Mode</span>
          <div class="item-value">
            <mat-slide-toggle color="primary" class="slider"></mat-slide-toggle>
          </div>
        </div>
      </mat-list-item>

      <mat-list-item>
        <div class="item-container">
          <div class="item-value">
            <button color="primary" mat-button>Logout</button>
          </div>
        </div>
      </mat-list-item>

    </mat-list>
    
    <h3 class="primary">Support</h3>
    <hr />

    <mat-list>

      <mat-list-item>
        <div class="item-container">
          <span class="label">Phone</span>
          <div class="item-value">
           <span>1-866-272-2794</span>
          </div>
        </div>
      </mat-list-item>

      <mat-list-item>
        <div class="item-container">
          <span class="label">Walkthrough</span>
          <div class="item-value">
              <button color="primary" mat-button>Open</button>
          </div>
        </div>
      </mat-list-item>

      <mat-list-item>
        <div class="item-container">
          <span class="label">Tip of the Day</span>
          <div class="item-value">
            <button color="primary" mat-button>Open</button>
          </div>
        </div>
      </mat-list-item>

      <mat-list-item>
        <div class="item-container">
          <span class="label">What's New</span>
          <div class="item-value">
            <button color="primary" mat-button>Open</button>
          </div>
        </div>
      </mat-list-item>

    </mat-list>
    
    <h3 class="primary">About</h3>
    <hr />

    <mat-list>

      <mat-list-item>
        <div class="item-container">
          <span class="label">Copyright</span>
          <div class="item-value">
            <span>Ministry of Health and Long-Term Care</span>
          </div>
        </div>
      </mat-list-item>

      <mat-list-item>
        <div class="item-container">
          <span class="label">App Version</span>
          <div class="item-value">
            <span>5.0.0</span>
          </div>
        </div>
      </mat-list-item>

      <mat-list-item>
        <div class="item-container">
          <span class="label">Server Version</span>
          <div class="item-value">
            <span>5.0.0</span>
          </div>
        </div>
      </mat-list-item>

    </mat-list>
</div>

