.item-container {
    display: flex;
    align-content: center;
    width: 100%;
}

.item-value { 
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

.toolbar-title {
    display: flex;
    flex-grow: 1;
    flex-basis: 0;
    justify-content: center;
    align-items: center;
}

.toolbar-button {
    flex-grow: 1;
    flex-basis: 0;
    justify-content: flex-start;
    align-items: center;
}

.toolbar-padding {
    padding: 0px 10px !important;
}

.toolbar-spacer {
    flex-grow: 1;
    flex-basis: 0;
}
.dialog-content {
    padding: 0px 24px 24px 24px;
    height: calc(100% - 56px);
    overflow-y: scroll;
}

.slider {
    padding-right: 20px;
}