<h3 mat-subheader class="primary">Patient Demographics</h3>
<mat-card class="smallMargin mat-elevation-z8">
  <mat-list>
    <mat-list-item class="listItem">
      <div class="listItemContent">
        <span class="listItemTitle">Client ID</span>
        <span class="listItemValue">100000021421</span>
      </div>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item class="listItem">
      <div class="listItemContent">
        <span class="listItemTitle">OIID</span>
        <span class="listItemValue">HX321452</span>
      </div>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item class="listItem">
      <div class="listItemContent">
        <span class="listItemTitle">Name</span>
        <span class="listItemValue">Smith, John</span>
      </div>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item class="listItem">
      <div class="listItemContent">
        <span class="listItemTitle">Date of Birth</span>
        <span class="listItemValue">1993, Apr 23</span>
      </div>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item class="listItem">
      <div class="listItemContent">
        <span class="listItemTitle">Age</span>
        <span class="listItemValue">24 years 7 months 16 days</span>
      </div>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item class="listItem">
      <div class="listItemContent">
        <span class="listItemTitle">Gender</span>
        <span class="listItemValue">Male</span>
      </div>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item class="listItem">
      <div class="listItemContent">
        <span class="listItemTitle">Health Card No.</span>
        <span class="listItemValue">123456787</span>
      </div>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item class="listItem">
      <div class="listItemContent">
        <span class="listItemTitle">Phone Number(s)</span>
        <mat-list class="nestedTable">
          <mat-list-item class="listItem">
            <span class="listItemTitle titleWidthSmall">Home</span>
            <span class="listItemValue">(416) 111 1111</span>
          </mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item class="listItem">
              <span class="listItemTitle titleWidthSmall">Work</span>
              <span class="listItemValue">(416) 222 1221</span>
            </mat-list-item>
        </mat-list>
      </div>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item class="listItem">
      <div class="listItemContent">
        <span class="listItemTitle">Guardian(s)</span>
        <mat-list class="nestedTable">
          <mat-list-item class="listItem">
            <span class="listItemTitle titleWidthSmall">Aunt</span>
            <span class="listItemValue">James, Linda</span>
          </mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item class="listItem">
              <span class="listItemTitle titleWidthSmall">Uncle</span>
              <span class="listItemValue">James, Mark</span>
            </mat-list-item>
        </mat-list>
      </div>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item class="listItem">
      <div class="listItemContent">
        <span class="listItemTitle">Address</span>
        <mat-list class="nestedTable">
          <mat-list-item class="listItem">
            <span class="listItemTitle titleWidthSmall">Home</span>
            <span class="listItemValue">39 Rain Park Ave. Toronto, Ontario</span>
          </mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item class="listItem">
              <span class="listItemTitle titleWidthSmall">Home</span>
              <span class="listItemValue">932 Yonge St. Toronto, Ontario</span>
            </mat-list-item>
        </mat-list>
      </div>
    </mat-list-item>
  </mat-list>
</mat-card>
