.smallMargin {
    margin: 20px 10px;
}

.listItem {
    height: auto !important; 
    padding: 15px 0px
}

.listItemContent {
    display:flex;
    width:100%;  
    align-items: center;
    padding-right:0px;
}

.listItemTitle {
    width:125px;
    height:18px !important;
    margin-right: 10px;
}

.titleWidthSmall {
    width:50px;
}


.listItemValue {
    flex: 1;
}

.nestedTable { 
    width: 100%;
}

.mat-list-item-content {
    padding-right: 0px !important;
}
