<h3 mat-subheader class="primary">Patient Demographics</h3>
<mat-card class="smallMargin mat-elevation-z8">
  <mat-list>
    <mat-list-item class="listItem">
      <div class="listItemContent">
        <span class="listItemTitle">Client ID</span>
        <span class="listItemValue">{{this.patient ? patientService.getClientId(this.patient) : ""}}</span>
      </div>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item class="listItem">
      <div class="listItemContent">
        <span class="listItemTitle">OIID</span>
        <span class="listItemValue">{{this.patient ? patientService.getOOID(this.patient) : ""}}</span>
      </div>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item class="listItem">
      <div class="listItemContent">
        <span class="listItemTitle">Name</span>
        <span class="listItemValue">
          <span class="bolded">{{this.patient ? patientService.getFamilyName(this.patient) : ""}}</span><span>, {{this.patient ? patientService.getGivenName(this.patient) : ""}}</span>
        </span>
      </div>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item class="listItem">
      <div class="listItemContent">
        <span class="listItemTitle">Date of Birth</span>
        <span class="listItemValue">{{this.patient ? this.patient.birthDate : ""}}</span>
      </div>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item class="listItem">
      <div class="listItemContent">
        <span class="listItemTitle">Age</span>
        <span class="listItemValue">24 years 7 months 16 days</span>
      </div>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item class="listItem">
      <div class="listItemContent">
        <span class="listItemTitle">Gender</span>
        <span class="listItemValue capitalize">{{this.patient ? this.patient.gender : ""}}</span>
      </div>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item class="listItem">
      <div class="listItemContent">
        <span class="listItemTitle">Health Card No.</span>
        <span class="listItemValue">{{this.patient ? patientService.getHCN(this.patient) : ""}}</span>
      </div>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item class="listItem">
      <div class="listItemContent">
        <span class="listItemTitle">Phone Number(s)</span>
        <mat-list class="nestedTable">
          <mat-list-item class="listItem" *ngFor="let phone of this.patient.telecom">
            <span class="listItemTitle capitalize">{{phone.use}}</span>
            <span class="listItemValue">{{phone.value}}</span>
          </mat-list-item>
        </mat-list>
      </div>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item class="listItem">
      <div class="listItemContent">
        <span class="listItemTitle">Guardian(s)</span>
        <mat-list class="nestedTable">
          <mat-list-item class="listItem" *ngFor="let contact of this.patient.contact">
            <span class="listItemTitle capitalize">{{patientService.getContactRelationship(contact)}}</span>
            <span class="listItemValue">
              <span class="bolded">{{patientService.getContactFamilyName(contact.name)}}</span><span>, {{patientService.getContactGivenName(contact.name)}}</span>
            </span>
          </mat-list-item>
        </mat-list>
      </div>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item class="listItem">
      <div class="listItemContent">
        <span class="listItemTitle">Address</span>
        <mat-list class="nestedTable">
          <mat-list-item class="listItem" *ngFor="let address of this.patient.address">
            <span class="listItemTitle capitalize">{{address.use}}</span>
            <div class="width-full">
                <div class="listItemValue" *ngFor="let line of address.line">
                  <span >{{line}}</span>
                </div>
            </div>
            
          </mat-list-item>
        </mat-list>
      </div>
    </mat-list-item>
  </mat-list>
</mat-card>
