<div class="container overflow-style">
  <div class="row">

    <div class="cell">
      <mat-form-field class="cell-form">
        <mat-select placeholder="Enter Subject">
            <mat-option value=""></mat-option>
            <mat-option value="Allergies">Allergies</mat-option>        
            <mat-option value="Change Immunization Status">Change Immunization Status</mat-option>    
        </mat-select>
      </mat-form-field>
    </div>
    <button mat-button color="primary">Edit</button>

  </div>

  <div class="row">

    <div class="cell">
      <mat-form-field class="cell-form">
        <textarea matInput matTextareaAutosize placeholder="Enter Note"></textarea>
      </mat-form-field>
    </div>

  </div>
</div>
