/deep/.mat-radio-label-content{
    max-width: 150px;
    word-wrap: break-word !important;
    height: auto;
    overflow-wrap: break-word;
    white-space: initial !important;
    text-align: center;
}

/deep/.mat-checkbox {
    width: 100% !important;
    padding: 5px 0px;
}