<div class="container overflow-style">

    <div class="row row-vertical-padding">

        <div class="cell label-cell left-justify no-left-padding">
            <span class="label">Immunizing Agent(s)</span>
        </div>
        <div class="cell left-justify vertical-buttons">
            <mat-checkbox>HB</mat-checkbox>
            <mat-checkbox>HPV-4</mat-checkbox>
        </div>

    </div>

    <div class="row row-vertical-padding">

        <div class="cell label-cell left-justify no-left-padding">
            <span class="label">Consent</span>
        </div>
        <div class="cell left-justify">
            <mat-radio-group (change)="consentChange($event)"  [(ngModel)]="consent">
                <mat-radio-button class="radio-horizontal-padding no-left-padding" value="Grant">Grant</mat-radio-button>
                <mat-radio-button class="radio-horizontal-padding" value="Refuse">Refuse</mat-radio-button>
            </mat-radio-group>
        </div>

    </div>
    <div class="row " *ngIf="consent == 'Grant'">

        <div class="cell left-justify no-left-padding">
            <mat-form-field>
                <input matInput placeholder="Doses" value="" [type]="'number'" min="0" max="9" maxlength="1">
            </mat-form-field>
        </div>
    
    </div>

    <div class="row " [hidden]="false"  *ngIf="consent != 'Grant'">

        <div class="cell left-justify no-left-padding">
            <mat-form-field class="cell-form">
                <input matInput placeholder="Reason">
            </mat-form-field>
        </div>

    </div>

    <div class="row row-vertical-padding">

        <div class="cell label-cell left-justify no-left-padding">
            <span class="label">Given By</span>
        </div>
        <div class="cell left-justify">
            <mat-radio-group>
                <mat-radio-button class="radio-horizontal-padding no-left-padding" value="Client">Client</mat-radio-button>
                <mat-radio-button class="radio-horizontal-padding" value="Customary Care Parent">Customary Care Parent</mat-radio-button>
                <mat-radio-button class="radio-horizontal-padding" value="Father">Father</mat-radio-button>
                <mat-radio-button class="radio-horizontal-padding" value="Legal Guardian">Legal Guardian</mat-radio-button>
                <mat-radio-button class="radio-horizontal-padding" value="Mother">Mother</mat-radio-button>
                <mat-radio-button class="radio-horizontal-padding" value="Parent">Parent</mat-radio-button>
                <mat-radio-button class="radio-horizontal-padding" value="Substitute Decision Maker - Consent">Substitute Decision Maker - Consent</mat-radio-button>
            </mat-radio-group>
        </div>

    </div>

    <div class="row">

        <div class="cell left-justify no-left-padding">
            <mat-form-field class="cell-form">
                <input matInput placeholder="Given By Name">
            </mat-form-field>
        </div>

    </div>

    <div class="row row-vertical-padding">

        <div class="cell label-cell left-justify no-left-padding">
            <span class="label">Form</span>
        </div>
        <div class="cell left-justify">
            <mat-radio-group>
                <mat-radio-button class="radio-horizontal-padding no-left-padding" value="Implied">Implied</mat-radio-button>
                <mat-radio-button class="radio-horizontal-padding" value="Verbal">Verbal</mat-radio-button>
                <mat-radio-button class="radio-horizontal-padding" value="Written">Written</mat-radio-button>
            </mat-radio-group>
        </div>

    </div>

    <div class="row">

        <div class="cell left-justify no-left-padding">
            <mat-form-field class="cell-form sm-datepicker">
                <input matInput [matDatepicker]="effectiveFrom" placeholder="Effective From" disabled>
                <mat-datepicker-toggle matSuffix [for]="effectiveFrom"></mat-datepicker-toggle>
                <mat-datepicker #effectiveFrom disabled="false"></mat-datepicker>
            </mat-form-field>
        </div>

    </div>

    <div class="row">

        <div class="cell left-justify no-left-padding">
            <mat-form-field class="cell-form sm-datepicker">
                <input matInput [matDatepicker]="effectiveTo" placeholder="Effective To" disabled>
                <mat-datepicker-toggle matSuffix [for]="effectiveTo"></mat-datepicker-toggle>
                <mat-datepicker #effectiveTo disabled="false"></mat-datepicker>
            </mat-form-field>
            <button mat-button color="accent">Clear</button>
        </div>

    </div>

    <div class="row">

        <div class="cell left-justify no-left-padding">
            <div class="cell">
                <mat-form-field class="cell-form">
                    <textarea matInput matTextareaAutosize placeholder="Enter Note"></textarea>
                </mat-form-field>
            </div>
        </div>

    </div>
    
</div>
