/* Structure */
.example-container {
    display: flex;
    flex-direction: column;
    min-width: 300px;
    margin: 20px 10px;
  }
  
  .example-header {
    min-height: 64px;
    padding: 8px 8px 0;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  .mat-table {
    overflow: auto;
  }

  .icon-container {
      display:flex;
      align-items: center;
  }

  .action-container {
    flex-grow: 1;
    display:flex;
    justify-content: flex-end;
  }

  .tablePadding {
      padding: 0px 8px;
  }

  .mat-column-modalAction {
    max-width: 40px;
  }

  .mat-column-effectiveFrom,
  .mat-column-effectiveTo,
  .mat-column-due,
  .mat-column-overdue,
  .mat-column-eligible,
  .mat-column-forecast,
  .mat-column-rescindDate,
  .mat-column-date{
    max-width: 150px;
  }
  .mat-column-age,
  .mat-column-sinceLast {
      max-width: 200px;
  }

  .overdue {
    color:red;
  }

  .eligible {
    color: green;
  }

  .upToDate {
    color: black;
  }