<!--<div class="example-container mat-elevation-z8">-->
<div class="example-container">
  <div class="example-header">
    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
    </mat-form-field>
  </div>
  <mat-list>
    
      <mat-list-item *ngFor="let clinic of clinics" class="clinic-list-item">
        <div class="clinic-list-item-body">

          <div class="cell max-height xs-flex">
            <div class="row max-height">
              <i class="material-icons sm-icon">warning</i>
            </div>
          </div>

          <div class="cell flex-wrap max-height lg-flex">
              <div class="row">
                <span class="clinic-title">{{clinic.name}}</span>
              </div>
              <div class="row">
                <span class="clinic-info">ID {{clinic.id}}</span>
              </div>
              <div class="row">
                <span class="clinic-info">Downloaded {{clinic.downloaded}}</span>
              </div>
          </div>

          <div class="cell max-height sm-flex">
            <div class="row max-height align-top right-justify">
              <span class="clinic-title">{{clinic.clients}}</span>
              <i class="material-icons sm-icon">person</i>
            </div>
          </div>
  
          <div class="cell max-height sm-flex">
            <div class="row max-height align-top">
              {{clinic.dates}}
            </div>
          </div>

          <div class="cell max-height xs-flex">
            <div class="row max-height right-justify">
              <i class="material-icons sm-icon">navigate_next</i>
            </div>
          </div>

          <mat-divider></mat-divider>
        </div>
        
      </mat-list-item>
      
    
  </mat-list>
  <!--<mat-table #table [dataSource]="dataSource" class="tablePadding">


    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef> CLINIC ID </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.id}} </mat-cell>
    </ng-container>


    <ng-container matColumnDef="title">
      <mat-header-cell *matHeaderCellDef> TITLE </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
    </ng-container>


    <ng-container matColumnDef="dates">
      <mat-header-cell *matHeaderCellDef> DATE(S) </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.dates}} </mat-cell>
    </ng-container>


    <ng-container matColumnDef="clients">
      <mat-header-cell *matHeaderCellDef> CLIENTS </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.clients}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="downloaded">
      <mat-header-cell *matHeaderCellDef> DOWNLOADED </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.downloaded}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="status">
        <mat-header-cell *matHeaderCellDef> STATUS </mat-header-cell>
        <mat-cell *matCellDef="let element"> 
          <mat-icon class="example-icon">{{element.status}}</mat-icon>   
        </mat-cell>
    </ng-container>

    <ng-container matColumnDef="routingAction">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell *matCellDef="let element">
        <button mat-icon-button [routerLink] = "['./',element.id]">
          <mat-icon aria-label="See Clinic">navigate_next</mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;" [routerLink] = "['./',row.id]"></mat-row>
  </mat-table>-->
</div>
