<div class="container overflow-style">

    <div class="row row-vertical-padding" *ngIf="type !== 'Client Warning'">

        <div class="cell label-cell left-justify no-left-padding">
            <span class="label">Immunizing Agent(s)</span>
        </div>
        <div class="cell left-justify vertical-buttons">
            <mat-checkbox>HB</mat-checkbox>
            <mat-checkbox>HPV-4</mat-checkbox>
        </div>

    </div>

    <div class="row"  *ngIf="type !== 'Client Warning'">

        <div class="cell left-justify no-left-padding">
            <mat-form-field class="cell-form">
                <mat-select placeholder="Reason">
                    <mat-option value=""></mat-option>
                    <mat-option value="Affidavit">Client Refused</mat-option>        
                    <mat-option value="Immunization Record">Extended Absence</mat-option>    
                </mat-select>
            </mat-form-field>
        </div>

    </div>

    <div class="row">

        <div class="cell left-justify no-left-padding">
            <mat-form-field class="cell-form sm-datepicker">
                <input matInput [matDatepicker]="effectiveFrom" placeholder="Effective From" disabled>
                <mat-datepicker-toggle matSuffix [for]="effectiveFrom"></mat-datepicker-toggle>
                <mat-datepicker #effectiveFrom disabled="false"></mat-datepicker>
            </mat-form-field>
        </div>

    </div>

    <div class="row">

        <div class="cell left-justify no-left-padding">
            <mat-form-field class="cell-form sm-datepicker">
                <input matInput [matDatepicker]="effectiveTo" placeholder="Effective To" disabled>
                <mat-datepicker-toggle matSuffix [for]="effectiveTo"></mat-datepicker-toggle>
                <mat-datepicker #effectiveTo disabled="false"></mat-datepicker>
            </mat-form-field>
            <button mat-button color="accent">Clear</button>
        </div>

    </div>

    <div class="row"  *ngIf="type !== 'Client Warning' && type !== 'Deferral'">

      <div class="cell left-justify no-left-padding">
        <mat-form-field class="cell-form">
          <mat-select placeholder="Source of Evidence">
              <mat-option value=""></mat-option>
              <mat-option value="Affidavit">Affidavit</mat-option>        
              <mat-option value="Immunization Record">Immunization Record</mat-option>    
          </mat-select>
        </mat-form-field>
      </div>
  
    </div>

    <div class="row">

        <div class="cell left-justify no-left-padding">
            <mat-form-field class="cell-form">
                <textarea matInput matTextareaAutosize placeholder="Enter Note"></textarea>
            </mat-form-field>
        </div>

    </div>
    
</div>
