<mat-toolbar color="primary">

  <mat-toolbar-row class="mat-toolbar-row-space">
    <div class="edge-container-start">
      <button mat-icon-button routerLink="/clinics/249291">
          <mat-icon aria-label="Go Back">navigate_before</mat-icon>
      </button>
      <span class="backButtonLabel">Back</span>
    </div>

    <span class="">{{titleService.getTitle()}}</span>

    <div class="icon-buttons-container edge-container-end">
        <div class="icon-button-container">
          <button mat-icon-button>
            <mat-icon>add</mat-icon>
          </button>
        </div>
        
        <div class="icon-button-container">
          <button mat-icon-button (click)="openInfoDialog()">
            <mat-icon>person outline</mat-icon>
          </button>
        </div>
        
        <div class="icon-button-container">
            <mat-icon>dns</mat-icon>
        </div>
    </div>

  </mat-toolbar-row>

</mat-toolbar>

<mat-toolbar color="primary" class="small-toolbar">
  <mat-toolbar-row class="small-toolbar-row mat-toolbar-row-centered">
    <div>
      <span class="patientInfoTitle">
        Date of Birth
      </span>
      <span class="patientInfoValue">
        2008 Oct 02
      </span>
      <span class="patientInfoTitle">
        Age
      </span>
      <span class="patientInfoValue">
        9 years 3 months 24 days
      </span>
      <span class="patientInfoTitle">
        Gender
      </span>
      <span class="patientInfoValue">
        Male
      </span>
    </div>
  </mat-toolbar-row>
</mat-toolbar>

<div style="width:100%; padding-top:10px;">
  <mat-horizontal-stepper>

    <mat-step label="Demographics" completed=false>
      <app-patient-demographics></app-patient-demographics>
    </mat-step>
    
    <mat-step label="Alerts" completed=false>
      <app-patient-alerts></app-patient-alerts>
    </mat-step>

    <mat-step label="Immunization Assessments" completed=false>
      <app-patient-immunizations></app-patient-immunizations>
    </mat-step>

    <mat-step label="Notes" completed=false>
      <app-patient-notes></app-patient-notes>
    </mat-step>

    <mat-step label="Consents" completed=false>
      <app-patient-consents></app-patient-consents>
    </mat-step>

    <mat-step label="Administer Immunizations" completed=false>
      <app-patient-administer-imm></app-patient-administer-imm>
    </mat-step>

  </mat-horizontal-stepper>
</div>

